.envrc
*.log
*.iml
.DS_Store
.idea/
.vscode/



code/provision/.vagrant
code/provision/playbooks/vault-password.txt
code/provision/playbooks/.artifacts/

.vagrant
vault-password.txt
.artifacts

*.retry
.terraform
*.tfstate*
provider.tf

proxied.yml

jasminuser-ssh-keys
cluster.rkestate
kube_config_cluster.yml
